# Cross Domain Recommender Systems

In this project we are perfoming recommendations across different domains. The domains we considers for the project are book reading and movies.
As initial step , this notebook has the details of preparing data for the genres Romance , Horror_Fantasy, Thriller

In [2]:
import pandas as pd
import json

In [37]:
import codecs

uploading the data files:  2 files for each genre
Romance: goodreads_books_romance.json (for book_id details) , goodreads_reviews_romance.json (for userID details)
Horror: goodreads_books_fantasy_paranormal.json (for book_id details), goodreads_reviews_fantasy_paranormal.json(for userID details)
Thriller: goodreads_books_mystery_thriller_crime.json(for book_id details), 'goodreads_reviews_mystery_thriller_crime.json'(for userID details)

goodreads dataset reference : https://sites.google.com/eng.ucsd.edu/ucsdbookgraph/home

In [2]:
df = pd.read_json('goodreads_books_romance.json', lines=True)
df2 = pd.read_json('goodreads_reviews_romance.json', lines=True)
df3 = pd.read_json('goodreads_books_mystery_thriller_crime.json', lines=True)
df4 = pd.read_json('goodreads_reviews_mystery_thriller_crime.json', lines=True)

In [3]:
df5 = pd.read_json('goodreads_books_fantasy_paranormal.json', lines=True)
df6 = pd.read_json('goodreads_reviews_fantasy_paranormal.json', lines=True)

# Preparing dataset for Genre : Romance

In [4]:
#Displaying first five rows of romance dataset
df.head()

,asin,authors,average_rating,book_id,country_code,description,edition_information,format,image_url,is_ebook,...,publication_year,publisher,ratings_count,series,similar_books,text_reviews_count,title,title_without_series,url,work_id
0,,"[{'author_id': '5807700', 'role': ''}]",3.86,34883016,US,Secrets. Sometimes keeping them in confidence ...,,ebook,https://images.gr-assets.com/books/1493525974m...,true,...,2017,Gone Writing Publishing,5,[],[],4,Playmaker: A Venom Series Novella,Playmaker: A Venom Series Novella,https://www.goodreads.com/book/show/34883016-p...,56135087
1,B01BLJGA9S,"[{'author_id': '5360266', 'role': ''}]",4.23,29074693,US,,,,https://s.gr-assets.com/assets/nophoto/book/11...,true,...,,,149,[811663],"[25515353, 20483269, 25650829, 18913492, 22578...",21,"Prowled Darkness (Dante's Circle, #7)","Prowled Darkness (Dante's Circle, #7)",https://www.goodreads.com/book/show/29074693-p...,46079519
2,,"[{'author_id': '1265', 'role': ''}]",3.99,3209316,US,The funny and heartwarming story of a young la...,,Audio CD,https://s.gr-assets.com/assets/nophoto/book/11...,false,...,2005,Brilliance Audio,42,[],"[31242, 374380, 20564, 383206, 7891, 6335178, ...",8,Emma,Emma,https://www.goodreads.com/book/show/3209316-emma,3360164
3,B01HX6PENG,"[{'author_id': '90411', 'role': ''}, {'author_...",4.31,30838933,US,"In the Finding Fatherhood series, these shifte...",,,https://s.gr-assets.com/assets/nophoto/book/11...,true,...,,,139,[938303],[],27,"Guardian Cougar (Finding Fatherhood, #2)","Guardian Cougar (Finding Fatherhood, #2)",https://www.goodreads.com/book/show/30838933-g...,51437308
4,B013Q70BQG,"[{'author_id': '47231', 'role': ''}]",3.98,27419760,US,You've Got Mailmeets Julie & Juliain the new f...,,,https://images.gr-assets.com/books/1457306424m...,true,...,,,167,[],"[386097, 7774253, 576667, 471907, 43174, 38977...",15,Wedding Girl,Wedding Girl,https://www.goodreads.com/book/show/27419760-w...,46003673

In [5]:
#Displaying original columns
df.columns

Index(['asin', 'authors', 'average_rating', 'book_id', 'country_code',
       'description', 'edition_information', 'format', 'image_url', 'is_ebook',
       'isbn', 'isbn13', 'kindle_asin', 'language_code', 'link', 'num_pages',
       'popular_shelves', 'publication_day', 'publication_month',
       'publication_year', 'publisher', 'ratings_count', 'series',
       'similar_books', 'text_reviews_count', 'title', 'title_without_series',
       'url', 'work_id'],
      dtype='object')

In [6]:
#Taking only the columns required for achieving our goal
df = df[['book_id', 'authors', 'average_rating', 'description', 'format', 'popular_shelves', 'publication_year', 'ratings_count', 'series', 'similar_books', 'text_reviews_count', 'title']]

In [7]:
#Inserting genre column in the dataframe, this dataset is romance
df['Genre'] = 'Romance'

In [8]:
df.head()

,book_id,authors,average_rating,description,format,popular_shelves,publication_year,ratings_count,series,similar_books,text_reviews_count,title,Genre
0,34883016,"[{'author_id': '5807700', 'role': ''}]",3.86,Secrets. Sometimes keeping them in confidence ...,ebook,"[{'count': '4', 'name': 'to-read'}, {'count': ...",2017,5,[],[],4,Playmaker: A Venom Series Novella,Romance
1,29074693,"[{'author_id': '5360266', 'role': ''}]",4.23,,,"[{'count': '598', 'name': 'to-read'}, {'count'...",,149,[811663],"[25515353, 20483269, 25650829, 18913492, 22578...",21,"Prowled Darkness (Dante's Circle, #7)",Romance
2,3209316,"[{'author_id': '1265', 'role': ''}]",3.99,The funny and heartwarming story of a young la...,Audio CD,"[{'count': '16215', 'name': 'classics'}, {'cou...",2005,42,[],"[31242, 374380, 20564, 383206, 7891, 6335178, ...",8,Emma,Romance
3,30838933,"[{'author_id': '90411', 'role': ''}, {'author_...",4.31,"In the Finding Fatherhood series, these shifte...",,"[{'count': '25', 'name': 'to-read'}, {'count':...",,139,[938303],[],27,"Guardian Cougar (Finding Fatherhood, #2)",Romance
4,27419760,"[{'author_id': '47231', 'role': ''}]",3.98,You've Got Mailmeets Julie & Juliain the new f...,,"[{'count': '1492', 'name': 'to-read'}, {'count...",,167,[],"[386097, 7774253, 576667, 471907, 43174, 38977...",15,Wedding Girl,Romance

In [9]:
#getting the size of romance reviews dataset 
df2.shape

(3565378, 11)

In [10]:
#displaying the columns
df2.columns

Index(['book_id', 'date_added', 'date_updated', 'n_comments', 'n_votes',
       'rating', 'read_at', 'review_id', 'review_text', 'started_at',
       'user_id'],
      dtype='object')

In [11]:
df2.head()

,book_id,date_added,date_updated,n_comments,n_votes,rating,read_at,review_id,review_text,started_at,user_id
0,1893,Tue Oct 10 19:08:05 -0700 2006,Sun Feb 19 02:04:48 -0800 2017,4,155,5,Sun Oct 01 00:00:00 -0700 2006,5347a776a1703b823ce029d68ae98275,** spoiler alert ** \n So the other day Elizab...,,8842281e1d1347389f2ab93d60773d4d
1,17939501,Fri Nov 08 20:17:30 -0800 2013,Fri Nov 08 20:22:59 -0800 2013,0,0,5,,719711cc71eec0bb54d2d97322c0e11b,"It is very hard to believe this is all true, b...",,72fb0d0087d28c832f15776b0d936598
2,15706923,Fri Nov 08 20:14:53 -0800 2013,Fri Nov 08 20:16:50 -0800 2013,0,0,2,,6a870a66f732183b60214d57fa553093,Ehhhhhh. \n Really nothing to rave about. It w...,,72fb0d0087d28c832f15776b0d936598
3,7840190,Fri Nov 08 19:57:47 -0800 2013,Fri Nov 08 20:01:41 -0800 2013,0,0,4,,f73a70f64564d4a8f4cfb2d2e9d5836f,Enjoyable read! I liked that Connie is not a t...,,72fb0d0087d28c832f15776b0d936598
4,15463724,Wed Oct 30 11:19:32 -0700 2013,Wed Oct 30 11:20:53 -0700 2013,0,0,4,,547aeff3c7ee5b4a39a93cd2a720b001,There are definitely too many books lately wit...,,72fb0d0087d28c832f15776b0d936598

In [12]:
#checking one specific book_id value in romance reviews dataset. we can observe here one book_id has multiple reviews
df2.loc[df2['book_id'] == 34883016]

,book_id,date_added,date_updated,n_comments,n_votes,rating,read_at,review_id,review_text,started_at,user_id
2831447,34883016,Sat Apr 22 08:58:59 -0700 2017,Thu May 04 17:27:34 -0700 2017,0,0,4,Wed May 03 00:00:00 -0700 2017,ed7b4a2f7da0e1611023bdd53edd7ee5,review to come,Wed Apr 26 00:00:00 -0700 2017,ee06dc1e214b38384e8c04fab3fc60ed
2983855,34883016,Thu May 04 10:57:54 -0700 2017,Sat May 06 12:38:47 -0700 2017,0,0,4,Sat May 06 12:38:47 -0700 2017,a436f0fa794243ed9d79aa22a6acaf24,Playmaker is a F/F spinoff of the Venom series...,Sat May 06 00:00:00 -0700 2017,cc71b8224d422476f8766996a9b6ee1c

In [13]:
#Merging the Romance dataset and romance review dataset with 
#respect to book_id and retrieving user_id, rating, review_text from romance reviews dataset
romance = pd.merge(df, df2[['user_id', 'book_id', 'rating', 'review_text']], on='book_id')

In [20]:
romance.shape

(3565378, 16)

In [14]:
romance.head()

,book_id,authors,average_rating,description,format,popular_shelves,publication_year,ratings_count,series,similar_books,text_reviews_count,title,Genre,user_id,rating,review_text
0,34883016,"[{'author_id': '5807700', 'role': ''}]",3.86,Secrets. Sometimes keeping them in confidence ...,ebook,"[{'count': '4', 'name': 'to-read'}, {'count': ...",2017,5,[],[],4,Playmaker: A Venom Series Novella,Romance,ee06dc1e214b38384e8c04fab3fc60ed,4,review to come
1,34883016,"[{'author_id': '5807700', 'role': ''}]",3.86,Secrets. Sometimes keeping them in confidence ...,ebook,"[{'count': '4', 'name': 'to-read'}, {'count': ...",2017,5,[],[],4,Playmaker: A Venom Series Novella,Romance,cc71b8224d422476f8766996a9b6ee1c,4,Playmaker is a F/F spinoff of the Venom series...
2,29074693,"[{'author_id': '5360266', 'role': ''}]",4.23,,,"[{'count': '598', 'name': 'to-read'}, {'count'...",,149,[811663],"[25515353, 20483269, 25650829, 18913492, 22578...",21,"Prowled Darkness (Dante's Circle, #7)",Romance,d749b5648a68f322b90f58bc9d557a97,5,"Fitting end to series \n What a sweet, sexy st..."
3,29074693,"[{'author_id': '5360266', 'role': ''}]",4.23,,,"[{'count': '598', 'name': 'to-read'}, {'count'...",,149,[811663],"[25515353, 20483269, 25650829, 18913492, 22578...",21,"Prowled Darkness (Dante's Circle, #7)",Romance,dd471527f0d2071526eb593a47d6538c,4,Nice Wrap Up \n Have enjoyed this series very ...
4,29074693,"[{'author_id': '5360266', 'role': ''}]",4.23,,,"[{'count': '598', 'name': 'to-read'}, {'count'...",,149,[811663],"[25515353, 20483269, 25650829, 18913492, 22578...",21,"Prowled Darkness (Dante's Circle, #7)",Romance,6836ada2b11b919e6705b783c8046a5d,5,Malik left Eliana behind thinking that there w...

In [15]:
#corss checking with previous book_id reference on the final romance dataset after merging
romance.loc[romance['book_id'] == 34883016]

,book_id,authors,average_rating,description,format,popular_shelves,publication_year,ratings_count,series,similar_books,text_reviews_count,title,Genre,user_id,rating,review_text
0,34883016,"[{'author_id': '5807700', 'role': ''}]",3.86,Secrets. Sometimes keeping them in confidence ...,ebook,"[{'count': '4', 'name': 'to-read'}, {'count': ...",2017,5,[],[],4,Playmaker: A Venom Series Novella,Romance,ee06dc1e214b38384e8c04fab3fc60ed,4,review to come
1,34883016,"[{'author_id': '5807700', 'role': ''}]",3.86,Secrets. Sometimes keeping them in confidence ...,ebook,"[{'count': '4', 'name': 'to-read'}, {'count': ...",2017,5,[],[],4,Playmaker: A Venom Series Novella,Romance,cc71b8224d422476f8766996a9b6ee1c,4,Playmaker is a F/F spinoff of the Venom series...

In [16]:
#Converting the file to csv format for further computations
romance.to_csv('romance_final.csv')  # --> File number 1.

# Preparing dataset for Genre : Thriller

In [17]:
#Displaying first five rows of Thriller and mystery dataset
df3.head()

,asin,authors,average_rating,book_id,country_code,description,edition_information,format,image_url,is_ebook,...,publication_year,publisher,ratings_count,series,similar_books,text_reviews_count,title,title_without_series,url,work_id
0,,"[{'author_id': '37778', 'role': ''}]",3.93,6066814,US,"London, 1196. At the command of Richard the Li...",,Hardcover,https://images.gr-assets.com/books/1328724803m...,false,...,2009,Simon & Schuster UK,186,[169353],"[439108, 522621, 116770, 1275927, 6202655, 840...",15,"Crowner Royal (Crowner John Mystery, #13)","Crowner Royal (Crowner John Mystery, #13)",https://www.goodreads.com/book/show/6066814-cr...,6243149
1,B01NCIKAQX,"[{'author_id': '242185', 'role': ''}]",4.33,33394837,US,,,,https://images.gr-assets.com/books/1493114742m...,true,...,,,269,[1052227],[],60,The House of Memory (Pluto's Snitch #2),The House of Memory (Pluto's Snitch #2),https://www.goodreads.com/book/show/33394837-t...,54143148
2,B01ALOWJN0,"[{'author_id': '15104629', 'role': ''}, {'auth...",3.49,29074697,US,"BATHS, BANKS AND ROMAN INSURRECTION\nDetective...",,,https://s.gr-assets.com/assets/nophoto/book/11...,true,...,,Amazon Digital Services,192,[953679],[],23,The Slaughtered Virgin of Zenopolis (Inspector...,The Slaughtered Virgin of Zenopolis (Inspector...,https://www.goodreads.com/book/show/29074697-t...,49305010
3,,"[{'author_id': '190988', 'role': ''}]",3.30,1902202,US,"Gerald breezily introduced his wife, Helen, to...",Large Print,Hardcover,https://s.gr-assets.com/assets/nophoto/book/11...,false,...,1975,Ulverscroft,52,[408775],[],8,"Dead in the Morning (Patrick Grant, #1)","Dead in the Morning (Patrick Grant, #1)",https://www.goodreads.com/book/show/1902202.De...,1903897
4,,"[{'author_id': '337108', 'role': ''}, {'author...",3.54,9671977,US,"""I misteri di Eleusi"" e il quinto romanzo di A...",,Paperback,https://images.gr-assets.com/books/1474788304m...,false,...,2006,Sellerio,22,[274410],[],3,Aristotele e i misteri di Eleusi,Aristotele e i misteri di Eleusi,https://www.goodreads.com/book/show/9671977-ar...,2152906

In [18]:
#Displaying size of original dataset
df3.shape

(219235, 29)

In [21]:
#Displaying original columns
df3.columns

Index(['asin', 'authors', 'average_rating', 'book_id', 'country_code',
       'description', 'edition_information', 'format', 'image_url', 'is_ebook',
       'isbn', 'isbn13', 'kindle_asin', 'language_code', 'link', 'num_pages',
       'popular_shelves', 'publication_day', 'publication_month',
       'publication_year', 'publisher', 'ratings_count', 'series',
       'similar_books', 'text_reviews_count', 'title', 'title_without_series',
       'url', 'work_id'],
      dtype='object')

In [22]:
#Taking only the columns required for achieving our goal
df3 = df3[['book_id', 'authors', 'average_rating', 'description', 'format', 'popular_shelves', 'publication_year', 'ratings_count', 'series', 'similar_books', 'text_reviews_count', 'title']]

In [23]:
#Inserting genre column in the dataframe, this dataset is Thriller
df3['Genre'] = 'Thriller'

In [24]:
df3.columns

Index(['book_id', 'authors', 'average_rating', 'description', 'format',
       'popular_shelves', 'publication_year', 'ratings_count', 'series',
       'similar_books', 'text_reviews_count', 'title', 'Genre'],
      dtype='object')

In [25]:
df3.head()

,book_id,authors,average_rating,description,format,popular_shelves,publication_year,ratings_count,series,similar_books,text_reviews_count,title,Genre
0,6066814,"[{'author_id': '37778', 'role': ''}]",3.93,"London, 1196. At the command of Richard the Li...",Hardcover,"[{'count': '159', 'name': 'to-read'}, {'count'...",2009,186,[169353],"[439108, 522621, 116770, 1275927, 6202655, 840...",15,"Crowner Royal (Crowner John Mystery, #13)",Thriller
1,33394837,"[{'author_id': '242185', 'role': ''}]",4.33,,,"[{'count': '54', 'name': 'currently-reading'},...",,269,[1052227],[],60,The House of Memory (Pluto's Snitch #2),Thriller
2,29074697,"[{'author_id': '15104629', 'role': ''}, {'auth...",3.49,"BATHS, BANKS AND ROMAN INSURRECTION\nDetective...",,"[{'count': '90', 'name': 'to-read'}, {'count':...",,192,[953679],[],23,The Slaughtered Virgin of Zenopolis (Inspector...,Thriller
3,1902202,"[{'author_id': '190988', 'role': ''}]",3.30,"Gerald breezily introduced his wife, Helen, to...",Hardcover,"[{'count': '51', 'name': 'to-read'}, {'count':...",1975,52,[408775],[],8,"Dead in the Morning (Patrick Grant, #1)",Thriller
4,9671977,"[{'author_id': '337108', 'role': ''}, {'author...",3.54,"""I misteri di Eleusi"" e il quinto romanzo di A...",Paperback,"[{'count': '48', 'name': 'to-read'}, {'count':...",2006,22,[274410],[],3,Aristotele e i misteri di Eleusi,Thriller

In [26]:
#getting the size of romance Thriller reviews dataset 
df4.shape

(1849236, 11)

In [27]:
#displaying the columns
df4.columns

Index(['book_id', 'date_added', 'date_updated', 'n_comments', 'n_votes',
       'rating', 'read_at', 'review_id', 'review_text', 'started_at',
       'user_id'],
      dtype='object')

In [28]:
df4.head()

,book_id,date_added,date_updated,n_comments,n_votes,rating,read_at,review_id,review_text,started_at,user_id
0,6392944,Mon Jul 24 02:48:17 -0700 2017,Sun Jul 30 09:28:03 -0700 2017,0,6,3,Tue Jul 25 00:00:00 -0700 2017,5e212a62bced17b4dbe41150e5bb9037,I haven't read a fun mystery book in a while a...,Mon Jul 24 00:00:00 -0700 2017,8842281e1d1347389f2ab93d60773d4d
1,28684704,Tue Nov 15 11:29:22 -0800 2016,Mon Mar 20 23:40:27 -0700 2017,0,22,3,Sat Mar 18 23:22:42 -0700 2017,2ede853b14dc4583f96cf5d120af636f,"A fun, fast paced science fiction thriller. I ...",Fri Mar 17 23:45:40 -0700 2017,8842281e1d1347389f2ab93d60773d4d
2,32283133,Tue Nov 01 11:09:18 -0700 2016,Tue Nov 01 11:09:44 -0700 2016,0,9,0,,8e4d61801907e591018bdc3442a9cf2b,http://www.telegraph.co.uk/culture/10...,,8842281e1d1347389f2ab93d60773d4d
3,17860739,Wed Mar 26 13:51:30 -0700 2014,Tue Sep 23 01:44:36 -0700 2014,0,7,4,Sun Sep 21 00:00:00 -0700 2014,022bb6daffa49adc27f6b20b6ebeb37d,An amazing and unique creation: JJ Abrams and ...,Sat Jul 26 00:00:00 -0700 2014,8842281e1d1347389f2ab93d60773d4d
4,8694005,Wed Sep 08 01:22:27 -0700 2010,Wed Dec 14 12:30:43 -0800 2016,6,17,3,Mon Aug 10 00:00:00 -0700 2015,0e317947e1fd341f573192111bb2921d,The Name of the Rose is a thrilling Dan Brown-...,Mon Jul 20 00:00:00 -0700 2015,8842281e1d1347389f2ab93d60773d4d

In [31]:
#checking one specific book_id value in thirller reviews dataset. we can observe here one book_id has multiple reviews
df4.loc[df4['book_id'] == 6392944]

,book_id,date_added,date_updated,n_comments,n_votes,rating,read_at,review_id,review_text,started_at,user_id
0,6392944,Mon Jul 24 02:48:17 -0700 2017,Sun Jul 30 09:28:03 -0700 2017,0,6,3,Tue Jul 25 00:00:00 -0700 2017,5e212a62bced17b4dbe41150e5bb9037,I haven't read a fun mystery book in a while a...,Mon Jul 24 00:00:00 -0700 2017,8842281e1d1347389f2ab93d60773d4d
416448,6392944,Fri Jun 24 10:34:25 -0700 2011,Thu Jul 14 13:58:28 -0700 2011,0,0,4,Thu Jul 14 00:00:00 -0700 2011,ee9cf5e49795718b9bb086c1cde23116,"A fun, fast read! I just adore reading books w...",Tue Jul 12 00:00:00 -0700 2011,24d87e891f6f60ae101c1de158cbe672
685987,6392944,Wed Aug 27 11:42:41 -0700 2014,Sat Jan 24 15:29:45 -0800 2015,0,0,4,Sat Jan 24 15:29:45 -0800 2015,b5a6af59482018d0814c373723080adb,"Full of twists and turns, way better than the ...",Wed Jan 21 00:00:00 -0800 2015,d083ade0fb4502508b1f3ce59bf1c7db
1114168,6392944,Tue Jan 27 07:05:17 -0800 2015,Tue Jul 14 06:47:02 -0700 2015,0,1,4,Wed Jul 08 00:00:00 -0700 2015,4339e08a4eefd80a4e38fb86d50a1ad8,The Murder on the Links is Agatha Christie's s...,Sun Jun 28 00:00:00 -0700 2015,74cd9e03b81085c69ae2dc9fcce17f48
1443675,6392944,Sat Apr 01 13:45:00 -0700 2017,Mon Apr 10 08:11:07 -0700 2017,0,0,3,Mon Apr 10 08:11:08 -0700 2017,994211c385e1989f034944dc1e113acb,I enjoyed this novel. It is the epitome of a m...,Sat Apr 01 00:00:00 -0700 2017,b6c9716c71c8bfb757a3aee18c1d0be7

In [32]:
#Merging the Romance dataset and thirller review dataset with 
#respect to book_id and retrieving user_id, rating, review_text from thirller reviews dataset
thriller = pd.merge(df3, df4[['user_id', 'book_id', 'rating', 'review_text']], on='book_id')

In [33]:
thriller.head()

,book_id,authors,average_rating,description,format,popular_shelves,publication_year,ratings_count,series,similar_books,text_reviews_count,title,Genre,user_id,rating,review_text
0,6066814,"[{'author_id': '37778', 'role': ''}]",3.93,"London, 1196. At the command of Richard the Li...",Hardcover,"[{'count': '159', 'name': 'to-read'}, {'count'...",2009,186,[169353],"[439108, 522621, 116770, 1275927, 6202655, 840...",15,"Crowner Royal (Crowner John Mystery, #13)",Thriller,9ab00cb54e02704c5a7bd5ca90564e2e,5,I enjoyed this book. It kept me guessing until...
1,33394837,"[{'author_id': '242185', 'role': ''}]",4.33,,,"[{'count': '54', 'name': 'currently-reading'},...",,269,[1052227],[],60,The House of Memory (Pluto's Snitch #2),Thriller,958e7dec67566c7c83ffb5aa818cb979,3,Lots and lots of filler. I was skimming toward...
2,33394837,"[{'author_id': '242185', 'role': ''}]",4.33,,,"[{'count': '54', 'name': 'currently-reading'},...",,269,[1052227],[],60,The House of Memory (Pluto's Snitch #2),Thriller,09f0b1f41ef9d1152c643fd5888a841f,4,I think the best thing I can say is I can't wa...
3,33394837,"[{'author_id': '242185', 'role': ''}]",4.33,,,"[{'count': '54', 'name': 'currently-reading'},...",,269,[1052227],[],60,The House of Memory (Pluto's Snitch #2),Thriller,354ebb507bddb9c6c83e5238fd6cc2b1,5,Review to follow closer to publication
4,33394837,"[{'author_id': '242185', 'role': ''}]",4.33,,,"[{'count': '54', 'name': 'currently-reading'},...",,269,[1052227],[],60,The House of Memory (Pluto's Snitch #2),Thriller,661b49d24b06354adedc778dcf47372d,5,"Great second book,in the Pluto's Snitch series..."

In [34]:
#corss checking with previous book_id reference on the final thirller dataset after merging
thriller.loc[thriller['book_id'] == 6392944]

,book_id,authors,average_rating,description,format,popular_shelves,publication_year,ratings_count,series,similar_books,text_reviews_count,title,Genre,user_id,rating,review_text
1025398,6392944,"[{'author_id': '123715', 'role': ''}]",3.8,"On a French golf course, a millionaire is foun...",,"[{'count': '1572', 'name': 'mystery'}, {'count...",,675,[227079],"[280990, 1332179, 2008927, 383223, 192888, 311...",42,"The Murder on the Links (Hercule Poirot, #2)",Thriller,8842281e1d1347389f2ab93d60773d4d,3,I haven't read a fun mystery book in a while a...
1025399,6392944,"[{'author_id': '123715', 'role': ''}]",3.8,"On a French golf course, a millionaire is foun...",,"[{'count': '1572', 'name': 'mystery'}, {'count...",,675,[227079],"[280990, 1332179, 2008927, 383223, 192888, 311...",42,"The Murder on the Links (Hercule Poirot, #2)",Thriller,24d87e891f6f60ae101c1de158cbe672,4,"A fun, fast read! I just adore reading books w..."
1025400,6392944,"[{'author_id': '123715', 'role': ''}]",3.8,"On a French golf course, a millionaire is foun...",,"[{'count': '1572', 'name': 'mystery'}, {'count...",,675,[227079],"[280990, 1332179, 2008927, 383223, 192888, 311...",42,"The Murder on the Links (Hercule Poirot, #2)",Thriller,d083ade0fb4502508b1f3ce59bf1c7db,4,"Full of twists and turns, way better than the ..."
1025401,6392944,"[{'author_id': '123715', 'role': ''}]",3.8,"On a French golf course, a millionaire is foun...",,"[{'count': '1572', 'name': 'mystery'}, {'count...",,675,[227079],"[280990, 1332179, 2008927, 383223, 192888, 311...",42,"The Murder on the Links (Hercule Poirot, #2)",Thriller,74cd9e03b81085c69ae2dc9fcce17f48,4,The Murder on the Links is Agatha Christie's s...
1025402,6392944,"[{'author_id': '123715', 'role': ''}]",3.8,"On a French golf course, a millionaire is foun...",,"[{'count': '1572', 'name': 'mystery'}, {'count...",,675,[227079],"[280990, 1332179, 2008927, 383223, 192888, 311...",42,"The Murder on the Links (Hercule Poirot, #2)",Thriller,b6c9716c71c8bfb757a3aee18c1d0be7,3,I enjoyed this novel. It is the epitome of a m...

In [35]:
#Converting the file to csv format for further computations
thriller.to_csv('thriller_final.csv') # --> File number 2.

# Preparing Dataset for Genre : Horror

In [4]:
#Displaying first five rows of horror and fantasy dataset
df5.head()

,asin,authors,average_rating,book_id,country_code,description,edition_information,format,image_url,is_ebook,...,publication_year,publisher,ratings_count,series,similar_books,text_reviews_count,title,title_without_series,url,work_id
0,B00071IKUY,"[{'author_id': '10333', 'role': ''}]",4.03,7327624,US,Omnibus book club edition containing the Ladie...,Book Club Edition,Hardcover,https://images.gr-assets.com/books/1304100136m...,false,...,1987,"Nelson Doubleday, Inc.",140,[189911],"[19997, 828466, 1569323, 425389, 1176674, 2627...",7,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","The Unschooled Wizard (Sun Wolf and Starhawk, ...",https://www.goodreads.com/book/show/7327624-th...,8948723
1,,"[{'author_id': '19158', 'role': ''}]",4.22,6066812,US,"To Kara's astonishment, she discovers that a p...",,Paperback,https://images.gr-assets.com/books/1316637798m...,false,...,2009,Seven Seas,98,[151854],"[948696, 439885, 274955, 12978730, 372986, 216...",6,All's Fairy in Love and War (Avalon: Web of Ma...,All's Fairy in Love and War (Avalon: Web of Ma...,https://www.goodreads.com/book/show/6066812-al...,701117
2,B01NCIKAQX,"[{'author_id': '242185', 'role': ''}]",4.33,33394837,US,,,,https://images.gr-assets.com/books/1493114742m...,true,...,,,269,[1052227],[],60,The House of Memory (Pluto's Snitch #2),The House of Memory (Pluto's Snitch #2),https://www.goodreads.com/book/show/33394837-t...,54143148
3,B0056A00P4,"[{'author_id': '50873', 'role': ''}, {'author_...",4.04,12182387,US,This is the final tale in the bestselling auth...,,,https://s.gr-assets.com/assets/nophoto/book/11...,true,...,,,4,[147734],"[519546, 1295074, 21407416]",1,"The Passion (Dark Visions, #3)","The Passion (Dark Visions, #3)",https://www.goodreads.com/book/show/12182387-t...,285263
4,B01BLJGA9S,"[{'author_id': '5360266', 'role': ''}]",4.23,29074693,US,,,,https://s.gr-assets.com/assets/nophoto/book/11...,true,...,,,149,[811663],"[25515353, 20483269, 25650829, 18913492, 22578...",21,"Prowled Darkness (Dante's Circle, #7)","Prowled Darkness (Dante's Circle, #7)",https://www.goodreads.com/book/show/29074693-p...,46079519

In [5]:
#Displaying size of original dataset
df5.shape

(258585, 29)

In [6]:
#Displaying original columns
df5.columns

Index(['asin', 'authors', 'average_rating', 'book_id', 'country_code',
       'description', 'edition_information', 'format', 'image_url', 'is_ebook',
       'isbn', 'isbn13', 'kindle_asin', 'language_code', 'link', 'num_pages',
       'popular_shelves', 'publication_day', 'publication_month',
       'publication_year', 'publisher', 'ratings_count', 'series',
       'similar_books', 'text_reviews_count', 'title', 'title_without_series',
       'url', 'work_id'],
      dtype='object')

In [8]:
#Taking only the columns required for achieving our goal
df5 = df5[['book_id', 'authors', 'average_rating', 'description', 'format', 'popular_shelves', 'publication_year', 'ratings_count', 'series', 'similar_books', 'text_reviews_count', 'title']]

In [9]:
#Inserting genre column in the dataframe, this dataset is Horror
df5['Genre'] = 'Horror'

In [10]:
df5.head()

,book_id,authors,average_rating,description,format,popular_shelves,publication_year,ratings_count,series,similar_books,text_reviews_count,title,Genre
0,7327624,"[{'author_id': '10333', 'role': ''}]",4.03,Omnibus book club edition containing the Ladie...,Hardcover,"[{'count': '58', 'name': 'to-read'}, {'count':...",1987,140,[189911],"[19997, 828466, 1569323, 425389, 1176674, 2627...",7,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",Horror
1,6066812,"[{'author_id': '19158', 'role': ''}]",4.22,"To Kara's astonishment, she discovers that a p...",Paperback,"[{'count': '515', 'name': 'to-read'}, {'count'...",2009,98,[151854],"[948696, 439885, 274955, 12978730, 372986, 216...",6,All's Fairy in Love and War (Avalon: Web of Ma...,Horror
2,33394837,"[{'author_id': '242185', 'role': ''}]",4.33,,,"[{'count': '54', 'name': 'currently-reading'},...",,269,[1052227],[],60,The House of Memory (Pluto's Snitch #2),Horror
3,12182387,"[{'author_id': '50873', 'role': ''}, {'author_...",4.04,This is the final tale in the bestselling auth...,,"[{'count': '1057', 'name': 'to-read'}, {'count...",,4,[147734],"[519546, 1295074, 21407416]",1,"The Passion (Dark Visions, #3)",Horror
4,29074693,"[{'author_id': '5360266', 'role': ''}]",4.23,,,"[{'count': '598', 'name': 'to-read'}, {'count'...",,149,[811663],"[25515353, 20483269, 25650829, 18913492, 22578...",21,"Prowled Darkness (Dante's Circle, #7)",Horror

In [11]:
#getting the size of Horror reviews dataset 
df6.shape

(3424641, 11)

In [12]:
#displaying the columns
df6.columns

Index(['book_id', 'date_added', 'date_updated', 'n_comments', 'n_votes',
       'rating', 'read_at', 'review_id', 'review_text', 'started_at',
       'user_id'],
      dtype='object')

In [13]:
df6.head()

,book_id,date_added,date_updated,n_comments,n_votes,rating,read_at,review_id,review_text,started_at,user_id
0,18245960,Sun Jul 30 07:44:10 -0700 2017,Wed Aug 30 00:00:26 -0700 2017,1,28,5,Sat Aug 26 12:05:52 -0700 2017,dfdbb7b0eb5a7e4c26d59a937e2e5feb,This is a special book. It started slow for ab...,Tue Aug 15 13:23:18 -0700 2017,8842281e1d1347389f2ab93d60773d4d
1,5577844,Wed Sep 24 09:29:29 -0700 2014,Wed Oct 01 00:31:56 -0700 2014,1,5,5,Tue Sep 30 00:00:00 -0700 2014,52c8ac49496c153e4a97161e36b2db55,A beautiful story. Neil Gaiman is truly a uniq...,Sun Sep 21 00:00:00 -0700 2014,8842281e1d1347389f2ab93d60773d4d
2,17315048,Sat Apr 05 09:30:53 -0700 2014,Wed Mar 22 11:33:10 -0700 2017,5,25,5,Mon Aug 25 00:00:00 -0700 2014,885c772fb033b041f42d57cef5be0a43,Mark Watney is a steely-eyed missile man. A ma...,Sat Aug 16 00:00:00 -0700 2014,8842281e1d1347389f2ab93d60773d4d
3,13453029,Tue Dec 04 11:12:22 -0800 2012,Sat Jul 26 11:43:28 -0700 2014,1,5,4,Tue Jul 08 00:00:00 -0700 2014,46a6e1a14e8afc82d221fec0a2bd3dd0,A fun fast paced book that sucks you in right ...,Wed Jul 02 00:00:00 -0700 2014,8842281e1d1347389f2ab93d60773d4d
4,13239822,Mon Jul 02 16:04:16 -0700 2012,Wed Mar 22 11:32:20 -0700 2017,0,7,3,Wed Aug 15 00:00:00 -0700 2012,a582bfa8efd69d453a5a21a678046b36,"This book has a great premise, and is full of ...",Sun Aug 12 00:00:00 -0700 2012,8842281e1d1347389f2ab93d60773d4d

In [14]:
#checking one specific book_id value in Horror reviews dataset. we can observe here one book_id has multiple reviews
df6.loc[df6['book_id'] == 18245960]

,book_id,date_added,date_updated,n_comments,n_votes,rating,read_at,review_id,review_text,started_at,user_id
0,18245960,Sun Jul 30 07:44:10 -0700 2017,Wed Aug 30 00:00:26 -0700 2017,1,28,5,Sat Aug 26 12:05:52 -0700 2017,dfdbb7b0eb5a7e4c26d59a937e2e5feb,This is a special book. It started slow for ab...,Tue Aug 15 13:23:18 -0700 2017,8842281e1d1347389f2ab93d60773d4d
9597,18245960,Tue May 24 13:54:43 -0700 2016,Tue May 24 13:54:43 -0700 2016,0,2,0,,198f663bbbb2926f8ad723796eef23ed,"If you like Contact, you'll love this \n This ...",,df889690c61e3d0ced39614a3b4a07c1
63112,18245960,Sun Nov 22 13:02:41 -0800 2015,Thu Dec 03 11:15:03 -0800 2015,0,10,4,Wed Dec 02 14:15:32 -0800 2015,84a4a65ee287a495f6cccfe6a1725e8e,Find this and other Reviews at InToriLex \n I ...,Sun Nov 22 00:00:00 -0800 2015,58b2982b7698871e7b1ace44019568d2
104748,18245960,Tue Oct 13 17:04:44 -0700 2015,Wed Oct 21 09:41:37 -0700 2015,0,0,3,Wed Oct 21 09:41:37 -0700 2015,b88eb6519a046159a31afcc21a448b6f,Average between the 4 star concepts (overall p...,Tue Oct 13 00:00:00 -0700 2015,1a2398eca437fed5d9add310a0c09611
111551,18245960,Mon Apr 10 14:24:45 -0700 2017,Sun Jun 11 06:36:28 -0700 2017,0,0,3,Mon Apr 10 14:31:42 -0700 2017,3e8986b038e19eb922acb4ec35934aef,"This one was a slow slog to get started on, an...",Sat Apr 01 00:00:00 -0700 2017,a4c9df126ba7fd557da3ec5c280f2688
147267,18245960,Thu Aug 27 00:37:34 -0700 2015,Mon May 22 10:23:46 -0700 2017,0,8,5,Fri Jan 13 00:00:00 -0800 2017,5ea837edf3b1386c613a123f46e1cccd,A really refreshing take on science fiction an...,Wed Jan 04 00:00:00 -0800 2017,ab19fd8bcc1021d1c0f42dfa8d47f1e3
150667,18245960,Tue Sep 23 10:40:04 -0700 2014,Fri Jul 10 13:42:47 -0700 2015,4,28,1,Fri Jul 10 16:04:46 -0700 2015,cefa3a787e1a845fb48acad37ff528de,"I'm really waffling between whether to rate ""d...",Mon Jul 06 00:00:00 -0700 2015,e956ca90ba23174bbbccf1161ab19150
164651,18245960,Sun Jun 05 14:28:30 -0700 2016,Sun Jun 05 14:29:22 -0700 2016,0,0,5,Sun Jun 05 14:29:22 -0700 2016,1dc465846f93cbb8ebecd2c79cc56211,This has all key elements of great interplanet...,Wed Jun 01 00:00:00 -0700 2016,c21db8350f75bf1b5130d1cafb3d88f1
230094,18245960,Sun Jul 24 22:51:11 -0700 2016,Sat Jul 30 22:12:15 -0700 2016,0,1,5,Fri Jul 29 00:00:00 -0700 2016,86a7c0571fd59e729cf9e2340dda1224,Every time I read a good science fiction novel...,Sun Jul 24 00:00:00 -0700 2016,da7a0c5ee0c89973224d8853445be68e
263375,18245960,Thu Oct 13 20:22:44 -0700 2016,Mon Nov 07 04:18:59 -0800 2016,0,0,3,Mon Nov 07 04:18:59 -0800 2016,5530b4eb26723674e37b841e6ce4302d,No urge to continue \n It took great effort to...,Thu Oct 13 20:22:44 -0700 2016,9f46ce8d5a6ad9cea5ec8682194395bc
300530,18245960,Thu Jan 12 12:58:10 -0800 2017,Tue Jan 24 07:58:27 -0800 2017,0,0,3,Tue Jan 24 07:58:27 -0800 2017,51c674fb44c6ce2daa1c7b1274aab86c,I very much enjoyed the first part of this boo...,Thu Jan 12 00:00:00 -0800 2017,887fff049f040c15b83924deee58d051
307022,18245960,Tue Mar 31 16:36:07 -0700 2015,Fri Oct 09 16:06:21 -0700 2015,0,2,4,Wed May 13 13:32:32 -0700 2015,3e55b38ac04ed2daea980e108ec2c8a5,Amazing. It was also very interesting to catch...,Mon May 11 00:00:00 -0700 2015,e1245e666e728026b1253a4228ee67ed
322138,18245960,Mon Oct 20 17:30:20 -0700 2014,Tue Nov 01 02:54:51 -0700 2016,0,0,5,Tue Nov 01 02:54:51 -0700 2016,08b782ecb5ffc87ecf1d98b1e56c73af,Even better the second time around.,Sun Oct 23 00:00:00 -0700 2016,eef7ef83ea5feb354004b3e6fd883ec6
433720,18245960,Sat Mar 28 23:35:14 -0700 2015,Tue Apr 14 00:00:35 -0700 2015,0,0,4,Sun Mar 29 23:41:26 -0700 2015,3c00d872a26c95157580fd8cb2ea0799,"3.5 stars, gets rounded up to 4 for fun ideas ...",,e0e296f0b522f72402d7dbf226e617a0
480502,18245960,Sun Jun 14 07:36:52 -0700 2015,Thu Jul 23 19:29:01 -0700 2015,0,3,3,Sun Jul 12 00:00:00 -0700 2015,9b8727ef4dfb2affe6ebb0b9ad7bea25,"For a number of reasons, The Three-Body Proble...",Mon Jul 06 00:00:00 -0700 2015,56f8d9c41347e755aec0194ff26ab182
480771,18245960,Sat Jan 28 17:03:07 -0800 2017,Thu Mar 02 10:55:09 -0800 2017,0,0,4,Sat Feb 11 18:56:28 -0800 2017,7659b7bd64bc1739091b2254a77943bf,"I was fascinated by this book, given that it w...",Sat Jan 28 00:00:00 -0800 2017,4dc25e96445e59940c59e47ec342e567
548080,18245960,Wed Jun 18 15:16:13 -0700 2014,Fri Nov 28 16:41:38 -0800 2014,0,0,5,Sat Nov 29 16:41:38 -0800 2014,c2b2a6f4d72eae366cabf2a3b6353ddd,4.5,Mon Nov 24 00:00:00 -0800 2014,2752e06bea6998bb637f34707c79c694
562665,18245960,Wed Jul 22 14:38:08 -0700 2015,Wed Aug 16 14:52:06 -0700 2017,0,4,3,Sat Aug 01 02:55:20 -0700 2015,65182cc7794392dbdc708912b09b3b2e,I wish I liked it more. The style of the story...,Mon Jul 27 00:00:00 -0700 2015,82542f712eceaf5a9f6252e3ca09686d
566422,18245960,Sat Aug 01 05:35:16 -0700 2015,Wed Jun 14 21:02:55 -0700 2017,0,0,3,Sun Aug 09 05:26:48 -0700 2015,f0f73399f031112b034e4db067352f37,"I struggled with how technical it was, and it ...",Sat Aug 01 00:00:00 -0700 2015,b327e1ce91f317c94f6d05c8b8a1fa57
617620,18245960,Thu Mar 31 06:49:08 -0700 2016,Thu Mar 31 06:49:44 -0700 2016,0,0,5,,8d7fa546ac3214577d5cc0249459b68a,"Excellent, and from a Chinese perspective that...",,68ded3349f0e60d709bda29823339f14
671562,18245960,Wed Sep 23 01:15:24 -0700 2015,Wed Jan 18 01:55:15 -0800 2017,0,3,4,Sat Jan 14 00:00:00 -0800 2017,3d898bbdbdc0b982b7618212936003db,"A solid 4, missing 5 if only because I found i...",Sun Jan 08 00:00:00 -0800 2017,c4e15e8eb4001d6cae744e82e5ba6395
690689,18245960,Wed Mar 30 07:33:25 -0700 2016,Sun Apr 24 11:43:06 -0700 2016,0,0,4,Sun Apr 24 11:43:06 -0700 2016,31376610de34780b841461dd10331427,I enjoyed the book. There were chapters where ...,Wed Apr 06 00:00:00 -0700 2016,9c7f44d881c2de81c113b32f228b484c
711143,18245960,Thu Feb 18 11:28:31 -0800 2016,Sun Dec 18 12:30:09 -0800 2016,0,0,3,Sun Sep 25 13:11:49 -0700 2016,efe51c719fc7aca896ee6f3314c3e231,"Av blaruss, for blaruss. Interessant konsept i...",Thu Aug 04 00:00:00 -0700 2016,d2e876f0ffea410cfd67d2738595fbd5
719906,18245960,Sun Nov 01 05:22:52 -0800 2015,Thu Nov 19 05:38:45 -0800 2015,2,1,4,Sun Nov 01 00:00:00 -0700 2015,003406f34c72f50ceab29a16cd52c04f,Uma ficcao cientifica que comeca na revolucao ...,Fri Oct 30 00:00:00 -0700 2015,b3c28ec543c8cf582bf86d99bfeafc0d
741404,18245960,Sun Feb 07 20:31:32 -0800 2016,Tue Jun 28 18:08:40 -0700 2016,0,1,4,Mon Jun 13 16:55:14 -0700 2016,a25de8e2616142cc83a8d989a6e21fee,"What are we, they? \n Gripping narrative with ...",Wed Mar 30 19:19:03 -0700 2016,b400bb7be573782ba39cc3b99801e84a
794021,18245960,Mon Jan 16 16:35:35 -0800 2017,Fri Jan 27 07:03:39 -0800 2017,0,0,3,Wed Jan 25 00:00:00 -0800 2017,fdc5f4663b833d1b7c2349f0bd228154,Hard sci-fi is not always a win with me and th...,Mon Jan 16 00:00:00 -0800 2017,bfcd198976f3b42f9d70b225eb8746f9
846073,18245960,Sun Mar 01 05:55:24 -0800 2015,Sun Mar 01 05:59:48 -0800 2015,0,4,0,,5c95b1637716e6671bb2a729ce2d6876,A Must Read For Any Fan of Speculative Fiction...,,b10c6d76e97471e5905c1a6bcb0fd791
887859,18245960,Fri Nov 06 19:02:44 -0800 2015,Sun Feb 14 11:57:46 -0800 2016,0,0,5,Sun Feb 14 11:57:46 -0800 2016,de6d2fb98fe6a93e751834d081a1506a,Original story packed with science \n While re...,Fri Nov 06 19:02:44 -0800 2015,4b2f15723483da1276effaf4d430506b
960438,18245960,Mon Jan 16 06:51:02 -0800 2017,Fri Mar 03 13:20:59 -0800 2017,0,2,3,Fri Mar 03 13:20:59 -0800 2017,4c477dad98a25983174a1c7403b7c686,3.5. The early parts of the book were more enj...,Sun Feb 26 00:00:00 -0800 2017,cce739705ce2a131c0deda467d663143
977039,18245960,Sat Aug 31 07:33:10 -0700 2013,Fri Oct 30 09:07:24 -0700 2015,3,4,3,Fri Oct 24 00:00:00 -0700 2014,1f47f734e5606b0ce1a35ff42f3513bb,Full Video Review \n The Three Body Problem do...,Wed Oct 15 00:00:00 -0700 2014,9c2ec4d205100d61ecb06ba7d7dc761c
...,...,...,...,...,...,...,...,...,...,...,...
2127185,18245960,Fri Nov 14 20:23:17 -0800 2014,Sat Jul 11 19:17:59 -0700 2015,0,2,5,Sat Jul 11 00:00:00 -0700 2015,6c7cf7e44f31de7fbdef98f88d20e7b4,This was an excellent book. I can count it amo...,Thu Jul 09 00:00:00 -0700 2015,fbf54d86200ec839e28e9c7c274bc534
2130609,18245960,Sun Feb 05 22:09:21 -0800 2017,Sat Feb 25 21:47:25 -0800 2017,0,0,2,Sat Feb 25 21:32:41 -0800 2017,fad0e3db080900a23b3ee988d79163b0,"This could've been a fantastic tale, and to be...",Sat Feb 18 23:26:39 -0800 2017,cf1a4a7a686bca8183e4afabe05bcf31
2202109,18245960,Sat Aug 20 12:30:20 -0700 2016,Wed Dec 21 04:38:03 -0800 2016,3,16,5,Wed Dec 21 13:33:45 -0800 2016,a10780bbd58e87a04524f2e15f8c7006,I tried going into this novel as blind as I co...,Mon Dec 19 00:00:00 -0800 2016,4e5dfe696bc39c15013cdcd481907bc5
2238576,18245960,Fri Feb 10 07:15:06 -0800 2017,Fri Feb 10 08:17:47 -0800 2017,0,0,4,,751fb61c966bbf2ad2c0009d6f09c374,Interesting concept. \n The Three-Body Problem...,,37907b9df78db5dc6c2f73df6231d647
2257452,18245960,Sun Jul 24 13:41:45 -0700 2016,Mon Aug 01 09:51:06 -0700 2016,2,2,3,Mon Aug 01 13:09:23 -0700 2016,de4799c26afa3976205edcb44f8bf698,Didn't get a whole lot of reading done during ...,Sun Jul 24 00:00:00 -0700 2016,cf105be72a472b52db7eab044803e023
2329645,18245960,Sat Apr 16 13:27:07 -0700 2016,Sun Apr 17 10:19:28 -0700 2016,0,1,1,Sun Apr 17 10:19:28 -0700 2016,6ae82d77a01175fdd5ea0d516b754aa7,"I did not actually finish this, though I read ...",Fri Apr 15 00:00:00 -0700 2016,130aea3864a69f63e002f3365c2af50d
2330220,18245960,Sun Feb 22 11:29:06 -0800 2015,Sun Aug 23 01:24:33 -0700 2015,0,0,4,Thu Apr 02 00:00:00 -0700 2015,1e61a41d0f139c641f7bb02df83158f1,This is the first book I have read by Liu Cixi...,,9cc804aa32ef2b5ef3e10b6b8e60b881
2332296,18245960,Fri Jul 15 11:47:33 -0700 2016,Mon Jul 25 15:18:49 -0700 2016,0,1,3,Wed Jul 20 00:00:00 -0700 2016,70f27d3f3e2f73cfe26394f971426f55,I'm a simple man without a lot of complicated ...,Fri Jul 15 00:00:00 -0700 2016,09cb9bc66c982c348081974368f15b78
2377502,18245960,Tue Feb 14 14:45:04 -0800 2017,Sat Mar 25 06:00:27 -0700 2017,0,2,5,Sat Mar 25 06:00:27 -0700 2017,fe27e0c8e34f2ccdfc228bd68659e19f,A journey to the Middle Kingdom and to the fut...,Tue Feb 14 00:00:00 -0800 2017,5c281f3e8c2b3a0dc50124fd15224e2d
2421942,18245960,Sat Dec 13 21:54:01 -0800 2014,Sun Apr 26 21:45:31 -0700 2015,0,0,5,Sun Apr 26 00:00:00 -0700 2015,d3142b5af3b7e64e79876cc0cc122408,The Three-Body Problem was an amazing book! It...,Sun Jan 25 00:00:00 -0800 2015,62d6ff24f0b907a0b9b24f150af87c89
2468792,18245960,Sat Apr 09 16:17:49 -0700 2016,Mon Jun 05 12:34:16 -0700 2017,0,0,3,Sun May 28 00:00:00 -0700 2017,abc7321e60579f1746676b22c5bf8db5,"I do not read much hard science fiction, but I...",Sat May 20 00:00:00 -0700 2017,9e06a33e18b3921249878e39d766874c
2492796,18245960,Fri Oct 21 14:53:41 -0700 2016,Mon Nov 07 19:09:07 -0800 2016,0,0,5,Mon Nov 07 00:00:00 -0800 2016,9b05b2e12255eced339974abbf4d7759,Great read!,Fri Oct 21 00:00:00 -0700 2016,72ee174aa008f778a1359051e655c8e0
2510578,18245960,Mon Apr 20 23:44:33 -0700 2015,Tue May 05 08:56:32 -0700 2015,0,0,4,Tue May 05 08:56:32 -0700 2015,a4dc031f3ded1536e61972a72635084f,The Three-Body Problem is a beautiful example ...,Mon Apr 20 00:00:00 -0700 2015,f25fc4b9a434a0a888b55ac27b2870c4
2658343,18245960,Wed Jan 18 12:28:45 -0800 2017,Wed Jan 18 12:30:44 -0800 2017,0,0,4,Tue Jan 17 00:00:00 -0800 2017,5cde3cc214bec103e3f2331add5a1416,Largely plays fair with the science. Has an in...,Sun Jan 15 00:00:00 -0800 2017,0aaca6088bb792427ef9fe2653803c95
2749223,18245960,Thu May 22 04:27:18 -0700 2014,Tue Oct 11 16:09:35 -0700 2016,0,0,5,,416ef54366c369ee4136ec4acff0ed70,Nothing really interesting to comment... \n If...,,a070eb8d95abd18f21b0d3a078e2af86
2818588,18245960,Sat Jul 02 03:54:14 -0700 2016,Thu Jul 21 11:24:43 -0700 2016,0,0,0,Fri Jan 01 00:00:00 -0800 2016,130b6ed078492b730ca5198c73eec2bd,"Feels like those old, classic scifi novels (in...",,cc4ad7ea1928223eb9d33f9994f4b1b7
2889135,18245960,Sat Feb 04 10:13:26 -0800 2017,Sun Feb 12 23:28:06 -0800 2017,0,0,3,Sun Feb 12 23:26:03 -0800 2017,7a9036c87fb168ba1b6cb7a5a28301a5,It started out as a fantastic book. Halfway th...,Tue Feb 07 00:00:00 -0800 2017,a696dd100dbc94b5062cec0792d5af53
2898013,18245960,Fri Jun 19 09:59:56 -0700 2015,Mon Oct 05 10:33:28 -0700 2015,2,8,5,Mon Oct 05 13:41:07 -0700 2015,6441731180e83d461015ea4854a446c4,"This was so good, and a pleasant surprise. Ver...",Sat Aug 29 00:00:00 -0700 2015,81d310b40b631f60765b1ba22e73acce
2925572,18245960,Mon Jan 30 00:12:19 -0800 2017,Sat Feb 18 19:34:47 -0800 2017,0,1,5,Sat Feb 11 00:00:00 -0800 2017,ff2125f7d79ffca84240aa5626b2e43f,"This blew me away, in a good way. I feel like ...",Mon Jan 30 00:00:00 -0800 2017,642ae4b537ccf25d032d4c6bdfd60f09
2977070,18245960,Sun Aug 09 20:57:15 -0700 2015,Tue Aug 18 12:07:29 -0700 2015,0,0,5,Mon Aug 17 00:00:00 -0700 2015,566bd682283eb39209e99d1fdc1cbd5f,Some mild spoilers below. \n An engaging read....,Sun Aug 09 00:00:00 -0700 2015,b250c11e456a8938eb506052940b14ae
2981144,18245960,Wed Jan 07 06:31:41 -0800 2015,Sun Mar 29 12:28:59 -0700 2015,0,0,4,Sun Mar 29 12:28:59 -0700 2015,24db17c3a73b6d2503a0bbe86be8f18a,really fascinating. this is the most science-y...,Thu Mar 26 00:00:00 -0700 2015,8c745fa39e8ad253752ce1ff0d2e1fad
3085142,18245960,Sat Oct 01 09:33:06 -0700 2016,Fri Jan 13 21:05:55 -0800 2017,0,1,2,Thu Jan 12 00:00:00 -0800 2017,7ddb55e0e38266802af54b17281de037,"If you're a physicist, maybe you'll love this ...",Sat Nov 12 00:00:00 -0800 2016,51518ecb4edf52185b0567398b2bf8a8
3094170,18245960,Sat Jan 09 07:37:13 -0800 2016,Tue Oct 10 15:26:42 -0700 2017,0,3,5,Tue Oct 10 15:26:42 -0700 2017,401f879a0a0df1d6b086b583d2b2081b,The first Chinese-origin science fiction book ...,Wed Oct 04 00:00:00 -0700 2017,d2ed6a8e0fa0e5bdd075be903eac8393
3129166,18245960,Mon Dec 14 18:33:15 -0800 2015,Wed Feb 10 07:37:45 -0800 2016,0,0,3,Mon Jan 25 00:00:00 -0800 2016,924134a6f6d7af029e98c7b7bb7a652b,A really interesting and engaging science fict...,Thu Jan 21 00:00:00 -0800 2016,9908873b8b77ea2052348637d674a92d
3137544,18245960,Sat Aug 01 00:09:53 -0700 2015,Fri Aug 21 10:44:29 -0700 2015,0,0,4,Fri Aug 21 10:44:29 -0700 2015,54ab02d7ec27cb6d07733f7c2e1a0990,Hard but I will read the next in the series \n...,Sat Aug 01 00:09:53 -0700 2015,7174c0743dd52b0466b49d5c52a31daf
3153908,18245960,Tue Jan 10 00:54:04 -0800 2017,Thu May 11 17:34:40 -0700 2017,1,2,4,Mon Apr 10 00:00:00 -0700 2017,6dfb7c66cb370bc1dc351ff83b98c237,This guy has got to be the perfect combination...,Sat Jan 21 00:00:00 -0800 2017,f1c68f348bbe7c0e6f79f4d37324dfee
3171388,18245960,Wed Aug 26 04:54:34 -0700 2015,Wed Jan 25 05:57:13 -0800 2017,0,0,4,Tue Jan 24 00:00:00 -0800 2017,93e40fb08b909fc45dd847619a0a5e08,Read as the January pick for The Sword and Las...,Sat Dec 31 00:00:00 -0800 2016,b43338e4f8deefa13b44b306a4dd095a
3275631,18245960,Wed Jan 25 06:16:44 -0800 2017,Sun Sep 10 10:01:03 -0700 2017,0,2,3,Wed Jan 25 00:00:00 -0800 2017,6d681c9d0b8f73161e45f37f07be21d4,The Three Body Problem goes back and forth in ...,,db068c1cefc3527970a0c2a2bb517247
3309343,18245960,Wed Jan 20 22:46:52 -0800 2016,Mon Sep 04 23:51:51 -0700 2017,0,0,5,Thu Jan 21 00:00:00 -0800 2016,bb0512cc6a0399ca0e02721fa56cbb3c,Want some culture shock with your sci fi?,,f8832a0df86a3c2c94711b78e5559817
3387038,18245960,Fri Jun 24 10:58:06 -0700 2016,Sun Jan 15 07:29:11 -0800 2017,0,0,5,Sun Jan 15 07:29:11 -0800 2017,15298d57f131a66b32e2cd407b66c86f,Finally finished this book and so happy I did!...,Fri Jun 24 00:00:00 -0700 2016,80cf640157d25c937bdfd9d280664c99

In [15]:
#Merging the Horror dataset and Horror review dataset with 
#respect to book_id and retrieving user_id, rating, review_text from Horror reviews dataset
horror = pd.merge(df5, df6[['user_id', 'book_id', 'rating', 'review_text']], on='book_id')

In [16]:
horror.shape

(3424641, 16)

In [17]:
horror.head()

,book_id,authors,average_rating,description,format,popular_shelves,publication_year,ratings_count,series,similar_books,text_reviews_count,title,Genre,user_id,rating,review_text
0,7327624,"[{'author_id': '10333', 'role': ''}]",4.03,Omnibus book club edition containing the Ladie...,Hardcover,"[{'count': '58', 'name': 'to-read'}, {'count':...",1987,140,[189911],"[19997, 828466, 1569323, 425389, 1176674, 2627...",7,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",Horror,d202352e716421da4ef3f7937df7c3f7,3,Competent. I'm sure I read the first half year...
1,7327624,"[{'author_id': '10333', 'role': ''}]",4.03,Omnibus book club edition containing the Ladie...,Hardcover,"[{'count': '58', 'name': 'to-read'}, {'count':...",1987,140,[189911],"[19997, 828466, 1569323, 425389, 1176674, 2627...",7,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",Horror,18b61748a52de671cb549d812b9740c8,4,"While these books are excellent overall, I thi..."
2,7327624,"[{'author_id': '10333', 'role': ''}]",4.03,Omnibus book club edition containing the Ladie...,Hardcover,"[{'count': '58', 'name': 'to-read'}, {'count':...",1987,140,[189911],"[19997, 828466, 1569323, 425389, 1176674, 2627...",7,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",Horror,24ec19e5301ffc5c8a030eac0d7a4ed2,3,A collection of two novels about the mercenary...
3,6066812,"[{'author_id': '19158', 'role': ''}]",4.22,"To Kara's astonishment, she discovers that a p...",Paperback,"[{'count': '515', 'name': 'to-read'}, {'count'...",2009,98,[151854],"[948696, 439885, 274955, 12978730, 372986, 216...",6,All's Fairy in Love and War (Avalon: Web of Ma...,Horror,da784e55b4f838941141eeebd87ae137,3,"This was a really cute book, though to be hone..."
4,33394837,"[{'author_id': '242185', 'role': ''}]",4.33,,,"[{'count': '54', 'name': 'currently-reading'},...",,269,[1052227],[],60,The House of Memory (Pluto's Snitch #2),Horror,958e7dec67566c7c83ffb5aa818cb979,3,Lots and lots of filler. I was skimming toward...

In [18]:
#corss checking with previous book_id reference on the final horror dataset after merging
horror.loc[horror['book_id'] == 18245960]

,book_id,authors,average_rating,description,format,popular_shelves,publication_year,ratings_count,series,similar_books,text_reviews_count,title,Genre,user_id,rating,review_text
2562215,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,8842281e1d1347389f2ab93d60773d4d,5,This is a special book. It started slow for ab...
2562216,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,df889690c61e3d0ced39614a3b4a07c1,0,"If you like Contact, you'll love this \n This ..."
2562217,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,58b2982b7698871e7b1ace44019568d2,4,Find this and other Reviews at InToriLex \n I ...
2562218,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,1a2398eca437fed5d9add310a0c09611,3,Average between the 4 star concepts (overall p...
2562219,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,a4c9df126ba7fd557da3ec5c280f2688,3,"This one was a slow slog to get started on, an..."
2562220,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,ab19fd8bcc1021d1c0f42dfa8d47f1e3,5,A really refreshing take on science fiction an...
2562221,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,e956ca90ba23174bbbccf1161ab19150,1,"I'm really waffling between whether to rate ""d..."
2562222,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,c21db8350f75bf1b5130d1cafb3d88f1,5,This has all key elements of great interplanet...
2562223,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,da7a0c5ee0c89973224d8853445be68e,5,Every time I read a good science fiction novel...
2562224,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,9f46ce8d5a6ad9cea5ec8682194395bc,3,No urge to continue \n It took great effort to...
2562225,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,887fff049f040c15b83924deee58d051,3,I very much enjoyed the first part of this boo...
2562226,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,e1245e666e728026b1253a4228ee67ed,4,Amazing. It was also very interesting to catch...
2562227,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,eef7ef83ea5feb354004b3e6fd883ec6,5,Even better the second time around.
2562228,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,e0e296f0b522f72402d7dbf226e617a0,4,"3.5 stars, gets rounded up to 4 for fun ideas ..."
2562229,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,56f8d9c41347e755aec0194ff26ab182,3,"For a number of reasons, The Three-Body Proble..."
2562230,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,4dc25e96445e59940c59e47ec342e567,4,"I was fascinated by this book, given that it w..."
2562231,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,2752e06bea6998bb637f34707c79c694,5,4.5
2562232,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,82542f712eceaf5a9f6252e3ca09686d,3,I wish I liked it more. The style of the story...
2562233,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,b327e1ce91f317c94f6d05c8b8a1fa57,3,"I struggled with how technical it was, and it ..."
2562234,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,68ded3349f0e60d709bda29823339f14,5,"Excellent, and from a Chinese perspective that..."
2562235,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,c4e15e8eb4001d6cae744e82e5ba6395,4,"A solid 4, missing 5 if only because I found i..."
2562236,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,9c7f44d881c2de81c113b32f228b484c,4,I enjoyed the book. There were chapters where ...
2562237,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,d2e876f0ffea410cfd67d2738595fbd5,3,"Av blaruss, for blaruss. Interessant konsept i..."
2562238,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,b3c28ec543c8cf582bf86d99bfeafc0d,4,Uma ficcao cientifica que comeca na revolucao ...
2562239,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,b400bb7be573782ba39cc3b99801e84a,4,"What are we, they? \n Gripping narrative with ..."
2562240,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,bfcd198976f3b42f9d70b225eb8746f9,3,Hard sci-fi is not always a win with me and th...
2562241,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,b10c6d76e97471e5905c1a6bcb0fd791,0,A Must Read For Any Fan of Speculative Fiction...
2562242,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,4b2f15723483da1276effaf4d430506b,5,Original story packed with science \n While re...
2562243,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,cce739705ce2a131c0deda467d663143,3,3.5. The early parts of the book were more enj...
2562244,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,9c2ec4d205100d61ecb06ba7d7dc761c,3,Full Video Review \n The Three Body Problem do...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2562265,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,fbf54d86200ec839e28e9c7c274bc534,5,This was an excellent book. I can count it amo...
2562266,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,cf1a4a7a686bca8183e4afabe05bcf31,2,"This could've been a fantastic tale, and to be..."
2562267,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,4e5dfe696bc39c15013cdcd481907bc5,5,I tried going into this novel as blind as I co...
2562268,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,37907b9df78db5dc6c2f73df6231d647,4,Interesting concept. \n The Three-Body Problem...
2562269,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,cf105be72a472b52db7eab044803e023,3,Didn't get a whole lot of reading done during ...
2562270,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,130aea3864a69f63e002f3365c2af50d,1,"I did not actually finish this, though I read ..."
2562271,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,9cc804aa32ef2b5ef3e10b6b8e60b881,4,This is the first book I have read by Liu Cixi...
2562272,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,09cb9bc66c982c348081974368f15b78,3,I'm a simple man without a lot of complicated ...
2562273,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,5c281f3e8c2b3a0dc50124fd15224e2d,5,A journey to the Middle Kingdom and to the fut...
2562274,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,62d6ff24f0b907a0b9b24f150af87c89,5,The Three-Body Problem was an amazing book! It...
2562275,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,9e06a33e18b3921249878e39d766874c,3,"I do not read much hard science fiction, but I..."
2562276,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,72ee174aa008f778a1359051e655c8e0,5,Great read!
2562277,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,f25fc4b9a434a0a888b55ac27b2870c4,4,The Three-Body Problem is a beautiful example ...
2562278,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,0aaca6088bb792427ef9fe2653803c95,4,Largely plays fair with the science. Has an in...
2562279,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,a070eb8d95abd18f21b0d3a078e2af86,5,Nothing really interesting to comment... \n If...
2562280,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,cc4ad7ea1928223eb9d33f9994f4b1b7,0,"Feels like those old, classic scifi novels (in..."
2562281,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,a696dd100dbc94b5062cec0792d5af53,3,It started out as a fantastic book. Halfway th...
2562282,18245960,"[{'author_id': '5780686', 'role': ''}, {'autho...",4.01,The Three-Body Problemis the first chance for ...,Kindle Edition,"[{'count': '3266', 'name': 'to-read'}, {'count...",2014,6336,[969165],"[17934480, 20706284, 23848027, 25499718, 17182...",374,The Three-Body Problem (Remembrance of Earthâ€™s...,Horror,81d310b40b631f60765b1ba22e73acce,5,"This was so good, and a pleasant surprise. Ver..."

In [19]:
#Converting the file to csv format for further computations
horror.to_csv('horror_final.csv')  # --> File number 3.