# Integrating all the Goodreads Datasets for 4 genres

In this section we are integration all the datasets that preprocessed for genres Comic, Thriller, Horror, Romance

In [1]:
import pandas as pd

In [2]:
#Uploading data files
df_comic = pd.read_csv('comic_final.csv')
df_romance = pd.read_csv('horror_final.csv')
df_horror = pd.read_csv('romance_final.csv')
df_thriller = pd.read_csv('thriller_final.csv')

In [3]:
#changing the column name Genre to genre
df_romance.rename(columns = {'Genre':'genre'}, inplace = True)
df_horror.rename(columns = {'Genre':'genre'}, inplace = True)
df_thriller.rename(columns = {'Genre':'genre'}, inplace = True)

In [5]:
#verifying the columns of all datasets if they are equal before integration
df_comic.columns

Index(['Unnamed: 0', 'book_id', 'average_rating', 'description', 'title',
       'language_code', 'genre', 'user_id', 'rating', 'review_text'],
      dtype='object')

In [6]:
df_romance.columns

Index(['Unnamed: 0', 'book_id', 'average_rating', 'description', 'title',
       'language_code', 'genre', 'user_id', 'rating', 'review_text'],
      dtype='object')

In [7]:
df_horror.columns

Index(['Unnamed: 0', 'book_id', 'average_rating', 'description', 'title',
       'language_code', 'genre', 'user_id', 'rating', 'review_text'],
      dtype='object')

In [8]:
df_thriller.columns

Index(['Unnamed: 0', 'book_id', 'average_rating', 'description', 'title',
       'language_code', 'genre', 'user_id', 'rating', 'review_text'],
      dtype='object')

In [10]:
#Data integration
df_integrated = df_comic.append([df_romance, df_horror, df_thriller])
df_integrated.shape

(7567357, 10)

In [11]:
df_integrated.head()

,Unnamed: 0,book_id,average_rating,description,title,language_code,genre,user_id,rating,review_text
0,0,13571772,4.28,The questions plaguing Captain America's dream...,Captain America: Winter Soldier (The Ultimate ...,eng,comics,568ce0dddc00192a814476ab5441acbb,3,It's an o.k. story. Much better than some othe...
1,1,13571772,4.28,The questions plaguing Captain America's dream...,Captain America: Winter Soldier (The Ultimate ...,eng,comics,ae681bb05174eaa3d2124d51262b76ad,3,A Captain America story involving a Russian as...
2,2,13571772,4.28,The questions plaguing Captain America's dream...,Captain America: Winter Soldier (The Ultimate ...,eng,comics,396fe0f07a53ad6be40e232c28a35e18,4,I read this in order to prepare myself for the...
3,3,35452242,4.05,The fight for Jason Delgado's life and soul be...,Bounty Hunter 4/3: My Life in Combat from Mari...,eng,comics,1c0124b7ccfd549911ad5c8741d95765,5,Bounty Hunter 4\3 is a in- depth personal stor...
4,4,707611,4.06,These are the stories that catapulted Superman...,"Superman Archives, Vol. 2",en-US,comics,79423049f862e94f1022f736a3c22cc1,3,action 80

In [12]:
#Checking the index values
df_integrated.tail()

,Unnamed: 0,book_id,average_rating,description,title,language_code,genre,user_id,rating,review_text
1394258,1394258,25727303,4.11,"Accompanied by Holmes and Watson, Mrs. Hudson ...",Mrs. Hudson in New York,eng,Thriller,79db8510ba14b9273f80b1572efc1513,3,I am a First Reads lucky winner of Mrs. Hudson...
1394259,1394259,23252156,4.00,"When Kirk Stanford moves into his new home, st...",Wicked Reflection,eng,Thriller,a867ee71f6203414f68ff7a1c734aa8c,4,Why you should read it: Hank has a way with hi...
1394260,1394260,23252156,4.00,"When Kirk Stanford moves into his new home, st...",Wicked Reflection,eng,Thriller,554b023fc79ceb3e8ab6da29e0e7f5b5,4,Kirk Stanford is a very happy new home owner. ...
1394261,1394261,23252156,4.00,"When Kirk Stanford moves into his new home, st...",Wicked Reflection,eng,Thriller,5a74c90525af7dd783517c94025ffb17,5,Reviewed for Rainbow Gold Reviews. A copy was ...
1394262,1394262,26168430,3.50,Sir Arthur Conan Doyle is brought back to life...,Sherlock Holmes and the July Crisis,eng,Thriller,d9bffa4411a494bd5d0104673cf49ac6,3,I must start this review by saying that I won ...

In [14]:
#resetting index
df_integrated.reset_index(inplace=True)

In [16]:
df_integrated.tail()

,index,Unnamed: 0,book_id,average_rating,description,title,language_code,genre,user_id,rating,review_text
7567352,1394258,1394258,25727303,4.11,"Accompanied by Holmes and Watson, Mrs. Hudson ...",Mrs. Hudson in New York,eng,Thriller,79db8510ba14b9273f80b1572efc1513,3,I am a First Reads lucky winner of Mrs. Hudson...
7567353,1394259,1394259,23252156,4.00,"When Kirk Stanford moves into his new home, st...",Wicked Reflection,eng,Thriller,a867ee71f6203414f68ff7a1c734aa8c,4,Why you should read it: Hank has a way with hi...
7567354,1394260,1394260,23252156,4.00,"When Kirk Stanford moves into his new home, st...",Wicked Reflection,eng,Thriller,554b023fc79ceb3e8ab6da29e0e7f5b5,4,Kirk Stanford is a very happy new home owner. ...
7567355,1394261,1394261,23252156,4.00,"When Kirk Stanford moves into his new home, st...",Wicked Reflection,eng,Thriller,5a74c90525af7dd783517c94025ffb17,5,Reviewed for Rainbow Gold Reviews. A copy was ...
7567356,1394262,1394262,26168430,3.50,Sir Arthur Conan Doyle is brought back to life...,Sherlock Holmes and the July Crisis,eng,Thriller,d9bffa4411a494bd5d0104673cf49ac6,3,I must start this review by saying that I won ...

In [17]:
#removing index column
del df_integrated['index']

In [18]:
df_integrated.to_csv ('integrated_data.csv', index = None)

**Recommendation based on the average ratings**

This addresses cold start problem for a new user. For the new user we can directly recommend books of high average rating.

In [19]:
avg_rating = df_integrated[['title', 'average_rating']]
sorted_overall = avg_rating.sort_values(by=['average_rating'], ascending=False)

sorted_overall.head()

                                                     title  average_rating
3088144                                    Tale of a Thief             5.0
2731685                                    Gondell's Quest             5.0
3205868                        The Wisdom (The Wisdom, #2)             5.0
6735259  The Mystery of the Golden Button (The Maid Det...             5.0
3205869                        The Wisdom (The Wisdom, #2)             5.0

In [20]:
sorted_overall.head(25).to_csv("top_overall.csv")