In [9]:
import pandas as pd

In [27]:
# Readig .dat file into the datframe

df = pd.read_table("ml-10M100K/ratings.dat", sep="::")

/opt/ohpc/pub/apps/python3/3.7.0/lib/python3.7/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [30]:
df.columns = ['UserID', 'MovieID', 'Rating', 'Timestamp']
df.head()

   UserID  MovieID  Rating  Timestamp
0       1      185     5.0  838983525
1       1      231     5.0  838983392
2       1      292     5.0  838983421
3       1      316     5.0  838983392
4       1      329     5.0  838983392

In [32]:
df_title = pd.read_table("ml-10M100K/movies.dat", sep="::" )

/opt/ohpc/pub/apps/python3/3.7.0/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [37]:
df_title.columns =['MovieID', 'Title', 'Genres']
df_title.head()

   MovieID                               Title                      Genres
0        2                      Jumanji (1995)  Adventure|Children|Fantasy
1        3             Grumpier Old Men (1995)              Comedy|Romance
2        4            Waiting to Exhale (1995)        Comedy|Drama|Romance
3        5  Father of the Bride Part II (1995)                      Comedy
4        6                         Heat (1995)       Action|Crime|Thriller

In [38]:
df_merged = pd.merge(df, df_title, on='MovieID')

In [39]:
df_merged.head()

   UserID  MovieID  Rating  Timestamp            Title                 Genres
0       1      185     5.0  838983525  Net, The (1995)  Action|Crime|Thriller
1      22      185     3.0  838983343  Net, The (1995)  Action|Crime|Thriller
2      26      185     4.0  844420985  Net, The (1995)  Action|Crime|Thriller
3      30      185     4.0  876528949  Net, The (1995)  Action|Crime|Thriller
4      34      185     3.0  982512301  Net, The (1995)  Action|Crime|Thriller

In [41]:
df_merged.shape

(9973604, 6)

In [47]:
df_merged['Genres'].nunique()

797