# Tableau integration with dataset

Goal: Intergrating our dataset with the tableau application for visualizations on data explorations.

Softwares needed:
MS SQL service installer, MySQL Worbench, ODBC connection drivers

In [1]:
#libraries for dataframe creating
import pandas as pd
import csv
import os

In [2]:
#Uploading data (which ever data we want to work on, for visualizations)
df = pd.read_csv(r"C:\Users\sprad\Documents\tableu_datasets\CMPE256\integrated_data.csv", index_col = 0)

C:\Users\sprad\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
#Printing first 5 rows of the dataset 
df.head()

,book_id,average_rating,description,title,language_code,genre,user_id,rating,review_text
Unnamed: 0,,,,,,,,,
0,13571772,4.28,The questions plaguing Captain America's dream...,Captain America: Winter Soldier (The Ultimate ...,eng,comics,568ce0dddc00192a814476ab5441acbb,3,It's an o.k. story. Much better than some othe...
1,13571772,4.28,The questions plaguing Captain America's dream...,Captain America: Winter Soldier (The Ultimate ...,eng,comics,ae681bb05174eaa3d2124d51262b76ad,3,A Captain America story involving a Russian as...
2,13571772,4.28,The questions plaguing Captain America's dream...,Captain America: Winter Soldier (The Ultimate ...,eng,comics,396fe0f07a53ad6be40e232c28a35e18,4,I read this in order to prepare myself for the...
3,35452242,4.05,The fight for Jason Delgado's life and soul be...,Bounty Hunter 4/3: My Life in Combat from Mari...,eng,comics,1c0124b7ccfd549911ad5c8741d95765,5,Bounty Hunter 4\3 is a in- depth personal stor...
4,707611,4.06,These are the stories that catapulted Superman...,"Superman Archives, Vol. 2",en-US,comics,79423049f862e94f1022f736a3c22cc1,3,action 80

In [4]:
#Library for converting data frame to SQL tables
from sqlalchemy import create_engine

In [5]:
#Connecting Dataframe to Database
import pymysql

In [6]:
#connecting Data frame to Database using sqlalchemy
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}".format(user="root",pw="110985",db="database1"))

In [7]:
#converting the data frame to sql table
df.to_sql('goodreads_integrated', con = engine, if_exists = 'append', chunksize = 1000)

Installing Connection drivers :: Ref : https://help.tableau.com/current/pro/desktop/en-us/examples_mysql.htm

Converting Dataframe to SQL:: Ref: https://pandas.pydata.org/pandas-docs/version/0.23.1/generated/pandas.DataFrame.to_sql.html