In [1]:
import pandas as pd

**Recommendation based on the average ratings**

This addresses cold start problem for a new user. 

For the new user we can directly recommend books of high average rating. Creating a .csv file of top rated based on each genre and also the overall rating.

In [2]:
# Reading all the files into the dataframe
df_integrated = pd.read_csv('integrated_data.csv')
df_comic = pd.read_csv('comic_final.csv')
df_horror = pd.read_csv('horror_final.csv')
df_romance = pd.read_csv('romance_final.csv')
df_thriller = pd.read_csv('thriller_final.csv')

In [3]:
# We require these two columns to recommend the top rated books
required_columns = ['title', 'average_rating']

In [4]:
avg_rating_comic = df_comic[required_columns]
# Sorting in descending order gives the top rated books in each genre
sorted_comic = avg_rating_comic.sort_values(by=['average_rating'], ascending=False)
sorted_comic.head()

                                                    title  average_rating
146756            Wrong again, God boy (Jesus and Mo, #7)             5.0
377958  Kolchak The Night Stalker: The Forgotten Lore ...             5.0
308243                    End's Shadow Caste (Volume One)             5.0
240980                                        Young Sunny             5.0
306939                       The Astonishing X-Men #15-16             5.0

In [5]:
# Converting the top 20 comic books to csv
sorted_comic.head(20).to_csv("top_comic.csv")

In [6]:
# Sorting the horror genre books based on the average rating
avg_rating_horror = df_horror[required_columns]
sorted_horror = avg_rating_horror.sort_values(by=['average_rating'], ascending=False)
sorted_horror.head()

                                                     title  average_rating
447235   The White Room (The Wishing Place/The White Ro...             5.0
1133554           Dragon's Fall: Rise of the Scarlet Order             5.0
2351398             Summer Bite: A Macconwood Pack Novella             5.0
2108934   The Kingdom of Copper (The Daevabad Trilogy, #2)             5.0
2108935   The Kingdom of Copper (The Daevabad Trilogy, #2)             5.0

In [7]:
sorted_horror.head(20).to_csv("top_horror.csv")

In [8]:
avg_rating_romance = df_romance[required_columns]
sorted_romance = avg_rating_romance.sort_values(by=['average_rating'], ascending=False)
sorted_romance.head()

                                                     title  average_rating
2489156                                   Heart of the Fae             5.0
1430213  Honey Glazed (The Continental Breakfast Club, ...             5.0
2650644                                Will Santa Deliver?             5.0
2405135          No Luck At All (Weston Family Series, #3)             5.0
64856                                              Shallow             5.0

In [9]:
sorted_romance.head(20).to_csv("top_romance.csv")

In [10]:
# Sorting the thriller genre books based on the average rating
avg_rating_thriller = df_thriller[required_columns]
sorted_thriller = avg_rating_thriller.sort_values(by=['average_rating'], ascending=False)
sorted_thriller.head()

                                                    title  average_rating
656724                The Love-Murders of Harry F. Powers             5.0
1218026  Blood Red Homicide (Pepper Bibeau Mysteries, #5)             5.0
439348                                 REMAINS TO BE SEEN             5.0
652611                 Porter's Rule: Masters of the City             5.0
602779                                      Favourite Son             5.0

In [11]:
sorted_thriller.head(20).to_csv("top_thriller.csv")

In [12]:
# Sorting the integrated data to give top 25 highly rated books

avg_rating = df_integrated[['title', 'average_rating']]
sorted_overall = avg_rating.sort_values(by=['average_rating'], ascending=False)

sorted_overall.head()

                                                     title  average_rating
3088144                                    Tale of a Thief             5.0
2731685                                    Gondell's Quest             5.0
3205868                        The Wisdom (The Wisdom, #2)             5.0
6735259  The Mystery of the Golden Button (The Maid Det...             5.0
3205869                        The Wisdom (The Wisdom, #2)             5.0

In [13]:
sorted_overall.head(25).to_csv("top_overall.csv")

**Solves the cold start problem for new user**

We can recommend a new user who has no history of ratings, with the top rated books. If the user is specific about the genre, he/she can choose top rated book from each genre which is made available in csv files. Top rated books on an overall integrated dataset is also created.